@import "reset";

:root {
  --gutter: 8px;
  --gutter-l: calc(var(--gutter) * 2);
  --font-family: arial, serif;
  --font-size: 14px;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

* {
  box-sizing: border-box;
}
