@import "reset";

:root {
  --gt-gutter: 12px;
  --gt-gutter-l: calc(var(--gt-gutter) * 2);
  --gt-font-family: arial, serif;
  --gt-font-size: 14px;
}

html {
  font-family: var(--gt-font-family);
  font-size: var(--gt-font-size);
}

* {
  box-sizing: border-box;
}
